<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="clonemanager:adopt" type="SharedSource.CloningManager.Commands.AutoAdopt,Sitecore.SharedSource.CloningManager.Core"/>
      <command name="clonemanager:reject" type="SharedSource.CloningManager.Commands.RejectAdoption,Sitecore.SharedSource.CloningManager.Core"/>
    </commands>
    <events>
      <event name="item:saved">
        <handler type="SharedSource.CloningManager.EventHandler.ItemEventHandler, Sitecore.SharedSource.CloningManager.Core" method="OnOriginalItemSaved" />
      </event>
    </events>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="SharedSource.CloningManager.Pipelines.CloneEditorWarnings, Sitecore.SharedSource.CloningManager.Core" />
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>
